extends layout

block content
	.row
		.col-12
			.main-img
	.row
		.col-12
			.card
				.card-header
					h4.card-title 전체글
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around
									div 작성자
									div 작성일
									div 조회수
						each row, idx in freeBoard
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row
									.col-10.col-md-12
										a.text-dark(href='/board/read/' + row._id)
											.row.text-center
												.col-12.col-md-8.text-left(style='font-size:1rem;') #{row.title}
												.col-8.col-md-4.d-flex.last-col.justify-content-start.justify-content-lg-around
													.text-muted #{row.writer}
													.text-muted #{date.toLocaleDateString('ko').substr(2)}
													.text-muted #{row.hit_count}
									.col-2.d-block.d-md-none

	.row
		.col-md-4
			.card
				.card-header
					h4.card-title  자유게시판
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in freeBoard
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row.text-center
									.col-12.col-md-8.text-left(style='font-size:1rem;')
										a.text-dark(href='/board/read/' + row._id) #{row.title}
									.col-8.col-md-4.d-flex.justify-content-start.last-col
										.text-muted #{row.writer}
										.text-muted #{date.toLocaleDateString('ko').substr(2)}
										.text-muted #{row.hit_count}
		.col-md-4
			.card
				.card-header
					h4.card-title  예신들의 결혼준비
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in wedding
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row.text-center
									.col-12.col-md-8.text-left(style='font-size:1rem;')
										a.text-dark(href='/board/read/' + row._id) #{row.title}
									.col-8.col-md-4.d-flex.justify-content-start.last-col
										.text-muted #{row.writer}
										.text-muted #{date.toLocaleDateString('ko').substr(2)}
										.text-muted #{row.hit_count}
		.col-md-4
			.card
				.card-header
					h4.card-title  주부선배 신혼생활
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in honeymoon
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row.text-center
									.col-12.col-md-8.text-left(style='font-size:1rem;')
										a.text-dark(href='/board/read/' + row._id) #{row.title}
									.col-8.col-md-4.d-flex.justify-content-start.last-col
										.text-muted #{row.writer}
										.text-muted #{date.toLocaleDateString('ko').substr(2)}
										.text-muted #{row.hit_count}
	.row
		.col-md-4
			.card
				.card-header
					h4.card-title  주방요리꿀팁
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in tips
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row.text-center
									.col-12.col-md-8.text-left(style='font-size:1rem;')
										a.text-dark(href='/board/read/' + row._id) #{row.title}
									.col-8.col-md-4.d-flex.justify-content-start.last-col
										.text-muted #{row.writer}
										.text-muted #{date.toLocaleDateString('ko').substr(2)}
										.text-muted #{row.hit_count}
		.col-md-4
			.card
				.card-header
					h4.card-title  생활의 지혜
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in wisdom
							- var date = new Date(row.created_at)
							a.text-dark(href='/board/read/' + row._id)
								li.list-group-item.py-2
									.row.text-center
										.col-12.col-md-8.text-left(style='font-size:1rem;') #{row.title}
										.col-8.col-md-4.d-flex.justify-content-start.last-col
											.text-muted #{row.writer}
											.text-muted #{date.toLocaleDateString('ko').substr(2)}
											.text-muted #{row.hit_count}
		.col-md-4
			.card
				.card-header
					h4.card-title  가성비갑 추천추천
				.card-body
					ul.list-group.list-group-flush
						li.list-group-item.d-none.d-md-block.text-warning.font-weight-bold
							.row.text-center
								.col-8 제 목
								.col-4.d-flex.justify-content-around.last-col
									div 작성자
									div 작성일
									div 조회수
						each row, idx in recommend
							- var date = new Date(row.created_at)
							li.list-group-item.py-2
								.row.text-center
									.col-12.col-md-8.text-left(style='font-size:1rem;')
										a.text-dark(href='/board/read/' + row._id) #{row.title}
									.col-8.col-md-4.d-flex.justify-content-start.last-col
										.text-muted #{row.writer}
										.text-muted #{date.toLocaleDateString('ko').substr(2)}
										.text-muted #{row.hit_count}
block append_js
	script.
		console.log(!{JSON.stringify(freeBoard)});
