nav.navbar.navbar-expand-lg.navbar-dark.bg-white.d-md-block.shadow.mb-3.py-1#main_nav
  .container
    ul.navbar-nav.mx-auto
      li.nav-item(class=side==='freeBoard'?'active':'')
        a.nav-link(href="/board/freeBoard")
          p 자유게시판
      li.nav-item(class=side === 'wedding' ? 'active' : '')
        a.nav-link(href="/board/wedding")
          p 예신들의 결혼준비
      li.nav-item(class=side === 'honeymoon' ? 'active' : '')
        a.nav-link(href="/board/honeymoon")
          p 주부선배 신혼생활
      li.nav-item(class=side === 'tips' ? 'active' : '')
        a.nav-link(href="/board/tips")
          p 주방요리꿀팁
      li.nav-item(class=side === 'wisdom' ? 'active' : '')
        a.nav-link(href="/board/wisdom")
          p 생활의 지혜
      li.nav-item(class=side === 'recommend' ? 'active' : '')
        a.nav-link(href="/board/recommend")
          p 가성비갑 추천추천